{% extends 'AcmeSiteBundle:Default:base.html.twig' %}
{% block body %}
<h2>Twoje pliki są gotowe do pobrania</h2>
	<p>uwierzytelnij pobieranie hasłem użytym do zabezpieczenia certyfikatu</p>
			<div class="tabletVertivalContainer">
		{{ include('AcmeSiteBundle:Default:tablet.html.twig', {'name': 'Start', 'description': 'strona główna', 'href': url('acme_site_homepage')}) }}
		{{ include('AcmeSiteBundle:Default:tablet.html.twig', {'name': 'Panel', 'description': 'strona główna panelu administracyjnego', 'href': url('acme_user_panel')}) }}
		{{ include('AcmeSiteBundle:Default:tablet.html.twig', {'name': 'Powrót', 'description': 'poprzednia strona', 'href': 'javascript: history.back(-1)'}) }}
	</div>
<div class="form-default">	

		{% if error is defined %}
			<div class="error-message">
				{{ error }}
			</div>
		{% endif %}
		
		{% form_theme passwdForm 'AcmeFormBundle:Default:default-form.html.twig' %}
			{{ form(passwdForm) }}
	</p>
	</div>
{% endblock %}
