{% extends 'AcmeSiteBundle:Default:base.html.twig' %}
{% block body %}
<p>Witaj: {{ app.user.username }}!</p>
<div class="tablet-container">
	{{ include('AcmeSiteBundle:Default:tablet.html.twig', {'name': 'Root CA', 'description': 'główny certyfikat', 'color': '#666', 'href': url('user_area_root_ca_site')}) }}
	{{ include('AcmeSiteBundle:Default:tablet.html.twig', {'name': 'pierwszy', 'color': '#777', 'href': '#'}) }}
	{{ include('AcmeSiteBundle:Default:tablet.html.twig', {'name': 'pierwszy', 'color': '#666', 'href': '#'}) }}
	{{ include('AcmeSiteBundle:Default:tablet.html.twig', {'name': 'pierwszy afasf asf asf aasdfas', 'color': '#666', 'href': '#'}) }}
	{{ include('AcmeSiteBundle:Default:tablet.html.twig', {'name': 'pierwszy', 'color': '#777', 'href': '#'}) }}
	{{ include('AcmeSiteBundle:Default:tablet.html.twig', {'name': 'pierwszy', 'color': '#666', 'href': '#'}) }}
</div>
{% endblock %}