<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>
	{% block title %}
		{% if title is defined %}
			{{ title }}
		{% else %}
			Default title
		{% endif %}
	{% endblock %}
	</title>
	<link rel="stylesheet" type="text/css" href="{{ asset('style/css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('style/css/bootstrap.min.css') }}">
	{% block stylesheets %}
	{% endblock %}
</head>
<body>
<div class="wrapper">
<div id="menu" class="navbar-static-top">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-top-menu">
			{% if app.user != null %}
			<div class="navbar-header navbar-right">
					<div class="menu-btn">
						<a href="{{ url('logout') }}"><button type="button" class="btn btn-default navbar-btn">Wyloguj</button></a>
					</div>
			</div>
			{% endif %}
			<div class="navbar-header navbar-right">
					<div class="menu-btn">
						{{ render(controller('AcmeSiteBundle:Islogged:login_check')) }}
					</div>
			</div>
			<div class="container-fluid navbar-left">
				<div class="navbar-header">

							<a href="{{ path('acme_site_homepage') }}"><img id="site-logo" src="{{ asset('images/site/logo.png') }}" title="Auth-Center.pl" alt="Auth-Center.pl"></a>
				</div>
				<div class="navbar-header">
					<div>
							<a href="{{ path('user_help') }}" class="navbar-brand">Pomoc</a>
					</div>
				</div>				
			</div>
		</div>
	</nav>
</div>
<div id="body-main-content">
{% block body %}

{% endblock %}
</div>
<div class="push"></div>
</div>

<div id="footer">
	<div id="copyrights">
		<p>&copy; All rights reserved.</p>
		<p>License GNU GPL v.2.</p>
	</div>
	<div class="footer-menu">
		<h2>Na skróty</h2>
		<ul>
			<li><a href="{{ path('acme_site_homepage') }}">Home</a></li>
			<li><a href="{{ path('user_help') }}">Pomoc</a></li>
			<li><a href="{{ path('acme_user_login') }}">Logowanie / Rejestracja</a></li>
			<li><a href="{{ path('acme_user_panel') }}">Panel użytkownika</a></li>
			<li><a href="#">O programie</a></li>
			<div class="clear"></div>
		</ul>
		
		{% block footer %}

		{% endblock %}
	</div>
<div class="clear"></div>
</div>
</body>
</html>