<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>
	{% block title %}
		{% if title is defined %}
			{{ title }}
		{% else %}
			Default title
		{% endif %}
	{% endblock %}
	</title>
	<link rel="stylesheet" type="text/css" href="{{ asset('style/css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('style/css/bootstrap.min.css') }}">
	{% block stylesheets %}
	{% endblock %}
</head>
<body>
<div class="wrapper">
<div id="menu" class="navbar-static-top">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-top-menu">
		<div class="navbar-header navbar-right">
					<div>
							{{ render(controller('AcmeSiteBundle:Islogged:login_check')) }}
					</div>
			</div>
			<div class="container-fluid navbar-left">
				<div class="navbar-header">

							<a href="{{ path('acme_site_homepage') }}"><img id="site-logo" src="{{ asset('images/site/logo.png') }}" title="Auth-Center.pl" alt="Auth-Center.pl"></a>
				</div>
				<div class="navbar-header">
					<div>
							<a href="#" class="navbar-brand">Demo</a>
					</div>
				</div>				
			</div>
		</div>
	</nav>
</div>
<div id="body-main-content">
{% block body %}

{% endblock %}
</div>
<div class="push"></div>
</div>

<div id="footer">
	<div id="copyrights">
		All rights reserved.
	</div>
	<div class="footer-menu">
		<p>About</p>
		<ul>
			<li><a href="#">Konto</a></li>
			<li><a href="#">Konto</a></li>
			<li><a href="#">Konto</a></li>
		</ul>
		{% block footer %}{% endblock %}
	</div>
<div class="clear"></div>
</div>
</body>
</html>