{% block logotypes %}
	<div class="logotypes">
		<a href="https://www.openssl.org/" title="OpenSSL">
			<img title="OpenSSL logo" alt="OpenSSL logo" src="{{ asset('images/logo/openssl.png')}}" />
		</a>
		<a href="https://tools.ietf.org/html/rfc6101" title="SSL">
			<img title="SSL logo" alt="SSL logo" src="{{ asset('images/logo/ssl.png')}}" />
		</a>
		<a href="http://httpd.apache.org/" title="Apache">
			<img title="Apache logo" alt="Apache logo" src="{{ asset('images/logo/apache2.png')}}" />
		</a>
		<a href="http://dev.mysql.com/" title="MySQL">
			<img title="MySQL logo" alt="MySQL logo" src="{{ asset('images/logo/mysql.png')}}" />
		</a>
		<a href="http://symfony.com/" title="Symfony2">
			<img title="Symfony2 logo" alt="Symfony2 logo" src="{{ asset('images/logo/symfony2.png')}}" />
		</a>
		<a href="http://www.w3.org/html/" title="HTML">
			<img title="HTML logo" alt="HTML logo" src="{{ asset('images/logo/html5.png')}}" />
		</a>
		<a href="http://www.w3.org/Style/CSS/" title="CSS">
			<img title="CSS logo" alt="CSS logo" src="{{ asset('images/logo/css3.png')}}" />
		</a>
	</div>
{% endblock %}