{% extends 'AcmeSiteBundle:Default:base.html.twig' %}
{% set title = "Lista podpisanych certyfikatów" %}
{% block body %}
	{% if data is defined %}
	{% else %}
		<h2>Nie posiadasz jeszcze żadnego certyfikatu klienta</h2>
	{% endif %}
		<div class="tablet-container">
			{{ include('AcmeSiteBundle:Default:tablet.html.twig', {'name': 'Nowy', 'description': 'utwórz nowy certyfikat klienta', 'href': url('user_area_client_cert')}) }}
			{{ include('AcmeSiteBundle:Default:tablet.html.twig', {'name': 'Start', 'description': 'strona główna', 'href': url('acme_site_homepage')}) }}
			{{ include('AcmeSiteBundle:Default:tablet.html.twig', {'name': 'Panel', 'description': 'strona główna panelu administracyjnego', 'href': url('acme_user_panel')}) }}
			
			<div class="clear"></div>
		</div>
	{% if data is defined %}
	<div class="panel panel-default">
		<div class="panel-heading">Lista podpisanych certyfikatów</div>
		<table class="table">
			<tr>
				<th>Id</th>
				<th>Nazwa</th>
				<th>Data utworzenia</th>
				<th>Akcja</th>
			</tr>
		{% for cert in data %}
			<tr>
				<td>{{ cert.id }}</td>
				<td>{{ cert.name }}</td>
				<td>{{ cert.date|date('Y-m-d') }}</td>
				<td><a href="{{ url('acme_client_cert_download', {'id': cert.id}) }}"<button class="btn btn-default multi-btn">Pobierz</button></a><a href="{{ url('acme_client_cert_unset', {id: cert.id})}}" alt="Skasuj certyfikat {{ cert.id }}" title="Skasuj certyfikat {{ cert.id }}"><button class="btn btn-default multi-btn">Skasuj</button></td>
			</tr>
		{% endfor %}
		</table>
	</div>
	{% endif %}
{% endblock %}