{% extends 'AcmeSiteBundle:Default:base.html.twig' %}
	{% block body %}
	{% if info is defined %}
		<h2>{{ info }}</h2>
	{% endif %}
		<div class="tablet-container">
			{{ render(controller('AcmeCertBundle:RootCa:getCaInfo')) }}
			{{ include('AcmeSiteBundle:Default:tablet.html.twig', {'name': 'Start', 'description': 'strona główna', 'href': url('acme_site_homepage')}) }}
			{{ include('AcmeSiteBundle:Default:tablet.html.twig', {'name': 'Panel', 'description': 'strona główna panelu administracyjnego', 'href': url('acme_user_panel')}) }}
			{{ include('AcmeSiteBundle:Default:tablet.html.twig', {'name': 'Powrót', 'description': 'poprzednia strona', 'href': 'javascript: history.back(-2)'}) }}
		</div>
{% endblock %}